/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.highlight {
    color: #ed6148;
}

a {
    text-decoration: none;
}

.text-container {
    background: #ed6148;
    font-size: 20px;
    color: white;
}

p {
    font-family: 'Montserrat Light', sans-serif;
}

.div-sections h1 {
    font-size: 45px;
    padding: 30px 10px;
}

header .burger-button {
    display: none;
}

/* HEADER */
.header {
    background: #ed6148;
}

header.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    margin: 20px 0;
}

.logo a {
    color: white;
}

.menu {
    font-size: 15px;
    padding-top: 25px;
}

.menu a {
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Montserrat Light', sans-serif;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

/* PORTADA */

.portada {
    background: #ed6148;
    background-image: url(../img/showcase-2.jpg);
    background-size: cover;
    background-position: center;
}

.titulo {
    color: white;
    padding: 60px 0;
}

.titulo h1 {
    font-size: 50px;
    padding-bottom: 60px;
}

.titulo p {
    font-size: 25px;
    line-height: 1.5em;
}

.titulo p strong {
    text-decoration: underline
}

.titulo h3 {
    padding-top: 50px;
    font-size: 30px
}

.titulo h3 span {
    font-size: 50px;
}

/* ACERCA DE RAPPI */

.acerca-rappi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.acerca-rappi .imagen {
    margin: auto;
}

.acerca-rappi .text-container {
    min-height: 300px;
    max-width: 1024px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.acerca-rappi .text-container p {
    padding: 0 100px;
}

/* ¿QUÉ ES UN RAPPITENDERO? */

.que-es-rappitendero {
    display: flex;
    flex-wrap: wrap;
}

.que-es-rappitendero .text-container {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.que-es-rappitendero .text-container p {
    padding: 0 70px;
}

.left {
    background-image: url("../img/rappitendero-cliente.png");
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.right {
    background-image: url("../img/rappitendero-almacen.png");
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/* ¿CÓMO SER UN RAPPITENDERO? */

.como-ser-rappitendero {
    margin-bottom: 20px;
}

.como-ser-rappitendero i {
    font-size: 70px;
    margin-bottom: 20px;
}

.x4-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-x4 {
    margin: 10px auto;
    width: 250px;
}

/* CIUDADES */

#ciudades h1 {
    background: #232930;
    color: white;
}

.ciudades {
    margin: 30px 0;
}

.x3-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-x3 {
    margin: 10px auto;
    width: 350px;
}

.col-x3 img {
    width: 90%;
    margin: auto auto 5px auto;
}

/* FOOTER */

.footer {
    background: #232930;
    color: white;
    padding: 30px 0;
}

.footer .x3-container {
    align-items: center;
}

.footer h1 a{
    font-size: 30px;
}

.footer a {
    color: white;
    font-size: 50px;
    padding: 10px;
}

.footer p {
    font-size: 15px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    header.container {
        display: inline-block;
    }
    
    .logo {
        margin: 20px auto;
    }
    
    .menu {
        padding: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .menu ul li:first-child {
        margin-left: 0;
    }

    .titulo {
        padding: 25px;
    }

    .titulo h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .titulo p {
        font-size: 18px;
    }

    .titulo h3 {
        padding-top: 20px;
    }

    .div-sections h1 {
        font-size: 40px;
    }

    .acerca-rappi .text-container p {
        padding: 0 30px;
    }

    .left {
        width: 600px;
        margin: 0 auto;
    }

    .right {
        display: none;
    }

    .que-es-rappitendero .text-container {
        width: 100%;
        height: 150px;
    }

    .que-es-rappitendero .text-container p {
        padding: 0 40px;
        font-size: 20px;
    }

    .footer p {
        margin-top: 0;
    }
}

@media screen and (max-width: 590px) {
    header .burger-button {
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
    }

    .header {
        position: relative;
    }

    .logo {
        width: 80%;
        float: left;
    }

    .logo a h1 {
        text-align: left;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: inline-block;
        text-align: center;
        position: absolute;
        background: rgba(237, 97, 72, .95);
        padding-top: 70px;
        padding-bottom: 20px;
        width: 100%;
        right: 0;
        transition: .3s;
    }

    .menu li {
        display: block;
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid white;
    }

    .menu li:first-child {
        border-top: 1px solid white;
    }
}

@media screen and (max-width: 425px) {
    .div-sections h1 {
        font-size: 30px;
    }

    .titulo h1 {
        font-size: 30px;
    }

    .titulo p {
        display: none;
    }

    .titulo h3 {
        padding-top: 0;
        font-size: 20px;
    }

    .titulo h3 span {
        font-size: 35px;
    }

    .left {
        width: 400px;
        height: 300px;
    }

    .que-es-rappitendero .text-container p {
        font-size: 18px;
    }

    .footer h1 a {
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    .logo a h1 {
        font-size: 20px;
    }
    
    .titulo h1 {
        font-size: 20px;
    }

    .titulo h3 {
        font-size: 15px;
    }

    .titulo h3 span {
        font-size: 25px;
    }

    .acerca-rappi .text-container {
        min-height: 200px;
    }

    .acerca-rappi .text-container p, .que-es-rappitendero .text-container p {
        font-size: 15px;
    }

    .footer .a {
        font-size: 30px;
    }
}